.wizard-step-navigation {
	@extend .stepped-process;
}

.wizard-step-navigation-back {
	@extend .stepped-process-button-back;
}

.wizard-step-navigation-menu {
	@extend .stepped-process-menu;
}

.wizard-step-navigation-step-anchor {

	.wizard-step-navigation-step-anchor-label-counter {
		@extend .stepped-process-step-anchor;
		
	}
}

.wizard-step-navigation-disabled {

	.wizard-step-navigation-step-anchor-label-counter {
		@extend .stepped-process-step-disabled;
	}
	// .wizard-step-navigation-step-anchor-label {
	// 	color: $sc-color-copy-light;
	// }
}

.wizard-step-navigation-active {

	.wizard-step-navigation-step-anchor-label-counter {
		@extend .stepped-process-step-active;
	}
}

.wizard-step-navigation-step {
	@extend .stepped-process-step;
}

.wizard-step-navigation-divider,
.wizard-step-navigation-step-anchor-label {
	@extend .stepped-process-step-anchor-label;
}

.wizard-step-navigation-step-anchor-label {
	margin-bottom: -7px;
	margin-right: $sc-margin-lv4;
	text-indent: -5px;
    overflow-x: hidden;
}


.wizard-step-navigation-divider {
	@extend .stepped-process-divider;
}

