.home {
  //@extend .container;
}

.home-banner-top-message {
  @extend .message-info;
  @extend .message-large;
}

.home-slider-container {
  //margin-top: $sc-margin-lv4;
  //margin-bottom: $sc-margin-lv4;
  //@extend .row;
}
.home-image-slider {
  //@extend .col-sm-12; 
}

// start bx-slider specifics
$sc-image-slider-height: 400px;
$sc-image-slider-max-width: 100%;
$sc-image-slider-max-width-mobile: 100%;

.home-image-slider .bx-wrapper {
  margin-bottom: $sc-margin-lv8;
}
.home-image-slider .bx-pager-item {
  vertical-align: middle;
}
.home-image-slider .bx-controls,
.home-image-slider .bx-controls .bx-pager {
  @media (min-width: $screen-sm-min) {
    margin-top: $sc-margin-lv2;
  }
}

.home-image-slider .bx-wrapper,
.home-image-slider .bx-viewport {
  //height: $sc-image-slider-height !important;
}
.home-image-slider .bx-viewport ul li {
  overflow: hidden;
}

.home-image-slider .bx-wrapper .home-slide-image-container {
  margin: auto 0;
  //margin-top: 100px;
  float: none;
  img {
    width: 100%;
  }
  @media (min-width: 933px) {
    max-width: $sc-image-slider-max-width !important;
    float: right;
    margin: 0 $sc-margin-lv1 * 12 0 0;
    margin: 0;

    //width: 350px;
    width: 100%;
    //padding: $sc-margin-lv6;
  }
}

.home-gallery-prev-icon,
.home-gallery-next-icon {
  position: absolute;
  top: 42.1%;

  width: $sc-target-size-mobile;
  //height: $sc-target-size-mobile;
  height: 32px !important;
  font-size: 50px;
  color: $sc-color-theme-500;
  @media (max-width: 1800px) {
    top: 41.7%;
  }
  @media (max-width: 1600px) {
    top: 40.6%;
  }
  @media (max-width: 1400px) {
    top: 39.4%;
  }
  @media (max-width: 1300px) {
    top: 38.8%;
  }
  @media (max-width: 1200px) {
    top: 37.7%;
  }
  @media (max-width: 1100px) {
    top: 36.8%;
  }
  @media (max-width: 1100px) {
    top: 36.8%;
  }
  @media (max-width: 1000px) {
    top: 36.8%;
  }
}

.home-gallery-prev-icon {
  //left: 30px;
  //@extend .icon-angle-left;
  left: 10px;
  background: url(http://sca-demo.store/public-schools/carousel-controls.png)
    no-repeat 0 -32px;
  transition: all 0.25s ease-in-out !important;
  &:hover {
    background-position: 0 0px;
  }
}

.home-gallery-next-icon {
  //right: 30px;
  text-align: right;
  //@extend .icon-angle-right;
  right: 2px;
  background: url(http://sca-demo.store/public-schools/carousel-controls.png)
    no-repeat -43px -32px;
  transition: all 0.25s ease-in-out !important;
  &:hover {
    background-position: -43px 0px;
  }
}

.home-image-slider .bx-pager {
  position: relative !important;
  a {
    color: $sc-color-theme-500 !important;
    //background-color: $sc-color-theme-500 !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 100% !important;
    font-size: 0;
    text-indent: -9999px;
  }
  a.active {
    //background-color: $sc-color-secondary;
  }
}

@media (min-width: $screen-md-min) {
  .home-image-slider .bx-wrapper {
    margin-bottom: 0;
  }
}

.home-image-slider .bx-pager {
  @media (min-width: $screen-md-min) {
    width: 940px;
    position: absolute !important;
    bottom: $sc-margin-lv4;
    text-align: center;
  }
  @media (min-width: $screen-lg-min) {
    width: 1140px;
  }
}
// end bx-slider specifics

.home-banner-main {
  margin-bottom: $sc-margin-lv4;
  @extend .row;
}

.home-banner-main-cell-nth0 {
  @extend .col-xs-12;
  @extend .col-sm-4;
  text-align: center;
  margin-bottom: $sc-margin-lv4;

  img {
    margin: auto;
    float: left;

    @media (min-width: $screen-sm-min) {
      max-width: 100%;
      width: 100%;
      float: none;
    }
  }
}

.home-banner-main-cell-nth1,
.home-banner-main-cell-nth2 {
  @extend .col-xs-6;
  @extend .col-sm-4;
  .home-banner-main-cell-text {
    display: none;
  }
  img {
    margin: 0 auto;
    float: none;
  }
}
.home-banner-main-cell-bg {
  width: 100%;
  overflow: hidden;
}

.home-banner-main-cell-text {
  display: inline-block;
  color: $sc-color-theme-700;
  font-size: $sc-font-size-xl;
  text-transform: uppercase;
  font-weight: $sc-font-weight-light;
  line-height: 82px;
  float: left;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
}

.home-merchandising-zone {
  .merchandising-zone {
    border: 0;
  }
  .merchandising-zone-title {
    display: none;
  }
  .item-cell-main-image {
    margin: 0 auto;
    width: $img-medium;
  }
}

.home-slide-main-container {
  //background: $sc-color-theme-background;
  overflow: hidden;
  //height: 400px;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    height: 100%;
  }
}
.home-slide-caption {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: $sc-margin-lv2;
  height: 80%;
  @media (min-width: $screen-sm-min) {
    width: 50%;
    padding: $sc-padding-lv8 $sc-padding-lv1 * 12;
    padding-right: 0px;
    text-align: left;
    height: auto;
    position: relative;
  }

  h2.home-slide-caption-title {
    margin-bottom: $sc-margin-lv2;
    font-size: $sc-font-size-m * 2.66;
    line-height: $sc-font-size-m * 2.66;
    color: $sc-color-secondary;
    @media (min-width: $screen-sm-min) {
      margin-bottom: $sc-margin-lv4;
    }
  }
  p {
    display: none;
    @media (min-width: $screen-xs-min) {
      display: block;
      margin-bottom: $sc-margin-lv4;
      color: $sc-color-theme-700;
      font-size: $sc-font-size-xl;
      text-transform: uppercase;
      font-weight: $sc-font-weight-light;
    }
    @media (min-width: $screen-sm-min) {
      font-size: $sc-font-size-xl;
    }
  }

  .home-slide-caption-button-container {
    padding-left: $sc-padding-lv4;
    padding-right: $sc-padding-lv4;
    position: absolute;
    margin-left: -$sc-padding-lv1 * 2;
    bottom: -60px;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
      position: relative;
      bottom: 0px;
    }
  }

  .home-slide-caption-button {
    @extend .button-primary;
    @extend .button-large;
    @media (min-width: $screen-xs-min) {
      width: auto;
      position: relative;
    }
  }
}


.home-bottom-image-container{

    height: 300px;
    overflow: hidden;
    position: relative;

    img{

      width: 100%;
      position: absolute;
      top: -25%;

      
    }
}



.bx-pager {
  display: none;
}
.bx-pager-default {
  display: none;
}
.bx-wrapper {
  position: relative;
}
.merch-zone-title {
  text-align: center;
  font-family: "Avenir LT Std 35 Light" !important;
  font-weight: 100;
  font-size: 30px !important;
  color: #333333;
  margin-top: 2px;
  @media (max-width: 1200px) {
    margin-top: -2px;
  }
}

.cms-content-selector-CMS_MERCHZONE-4 {
  padding: 0px 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}


.cms-content-selector-CMS_MERCHZONE-4 .span3 {
  display:inline-block;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid #000;
  background: #fff;
  position: relative;
  width: 32%;
  height: 475px;
  text-align: center;
  font-size: 14px;
  color: #747474;
  padding-bottom: 0;
  margin: 0px 5px;
  margin-bottom: 5px;
  vertical-align: top;
  overflow:hidden;
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 h5 {
  margin-bottom:0;
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 .item-name-merchand {
  color:#747474;
  font-size:16px;
  font-weight:100;
  font-family: "Avenir LT Std 35 Light";
  cursor:pointer;
  line-height:30px;
  text-align:center;
  margin-top:-13px;
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 .item-price-merchand {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #252525;
  font-weight:100;
  font-family: "Avenir LT Std 35 Light";
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-control {
  opacity:1 !important;
  color:#4b4b4b;
  font-size:40px!important;
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-inner {
  width: 375px;
  height: 350px;
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-inner>.item {
  float: left;
  height: 100%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  vertical-align: middle;
  line-height: 375px;
  width: 375px !important;
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-inner>.item>img {
  height: auto;
  max-height: 350px;
  width: auto;
  max-width: 350px;
  vertical-align: middle;
  display: initial;
}

@media only screen and (max-width:1200px){
  .cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-inner,
  .cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-inner>.item {
    width:100% !important;
  }
}

.cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-control.right,
.cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-control.left {
      /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
      /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5))); */
      /* background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%); */
      filter: none !important;
      background-image: none !important;
      @media only screen and (max-width:962px){
        .cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-control.right {
          right:30px;
        }
        .cms-content-selector-CMS_MERCHZONE-4 .span3 .carousel-control.left {
          left:30px;
        }
      }
}


@media only screen and (max-width:962px){
  .cms-content-selector-CMS_MERCHZONE-4 .span3 {
    width:48%;
  }
}

@media only screen and (max-width:660px){
  .cms-content-selector-CMS_MERCHZONE-4 .span3 {
    width:100%;
  }
}
.bx-has-pager{
display: none;
}
.titleH2{
text-align: center;
    font-size: 35px;
    padding: 20px;
}


.categories-container{
padding-bottom: 40px;
}