.global-views-back-to-top {
  background: $sdb-theme-footer-back-to-top-background-color;
  border-top: 1px solid $sdb-theme-footer-back-to-top-border-color;
  display: block;
  text-align: center;
  padding-bottom: $sc-padding-lv3;

  a {
    color: $sdb-theme-footer-back-to-top-font-color;
    font-size: $sc-font-size-xs;
    text-transform: uppercase;
  }

  @media (min-width: $screen-sm-min) {
    display: none;
  }
}
.global-views-back-to-top a:hover {
  text-decoration: none;
}
.global-views-back-to-top-icon {
  @extend .icon-angle-up;
  color: $sdb-theme-footer-back-to-top-font-color;
  display: block;
  font-size: 22px;
  padding: $sc-padding-lv2 0 0;
}
